<title>Edit actor</title>

<div class="add-movies-section">
         <div class="nav-bar-sticky ">
        
        <ul>
          <span>Header</span>
          <div class="nav-swiper">
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Admin Home</a></li>
          <li><a href="/admin/show-admin-movies">Show All Movies Admin</a></li>
          <li><a href="/admin/add-movies">Add Movies</a></li>
          <li><a href="/admin/show-actor">Show All Actors</a></li>
          <li><a href="/admin/add-actor">Add Actor</a></li>
          <li><a href="/admin/add-nextweek-movies">Add Next Week</a></li>
          <li><a href="/admin/add-nextweek-movies">Show Next Week Movies</a></li>
         
        </div>
        </ul>
      </div>
    <div class="add-movies-form">
         <div class="black-header">Edit Actor</div>
        <div class="add-movies-form-section">
            <form action="/admin/edit-actor/{{actor._id}}" class="movies-form" enctype="multipart/form-data" method="POST">
                <div class="input-section">
                    <label class="fm-details">
                        Actor Name :</label>
                            <input type="text" name="actorname" value="{{actor.actorname}}" required>

                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Language :</label>
                    <select name="language" >
                        <option value="{{actor.language}}">{{actor.language}}</option>
                        <option value="malayalam">Malayalam</option>
                        <option value="tamil">Tamil</option>
                        <option value="hindi">Hindi</option>
                        <option value="telugu">Telugu</option>
                        <option value="hollywood">Hollywood</option>
                        <option value="other">Other</option>
                        <option value="webseries">Web series</option>
                    </select>
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Age : </label>
                    <input type="text" name="age" value="{{actor.age}}" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Year Active : </label>
                    <input type="text" name="yearactive" value="{{actor.yearactive}}" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Occupation :</label>
                    <input type="text" name="occupation" value="{{actor.occupation}}">
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Instagram Link : </label>
                    <input type="text" name="instalink" value="{{actor.instalink}}" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Twitter Link : </label>
                    <input type="text" name="twitlink" value="{{actor.twitlink}}" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Biography : </label>
                    <input type="text" name="biography" value="{{actor.biography}}">
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        FILM 1 : </label>
                    <input type="text" name="filmid1" value="{{actor.filmid1}}">
                    <input type="text" name="filmname1" value="{{actor.filmname1}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 2 : </label>
                    <input type="text" name="filmid2" value="{{actor.filmid2}}">
                    <input type="text" name="filmname2" value="{{actor.filmname2}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 3 : </label>
                    <input type="text" name="filmid3" value="{{actor.filmid3}}">
                    <input type="text" name="filmname3" value="{{actor.filmname3}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 4 : </label>
                    <input type="text" name="filmid4" value="{{actor.filmid4}}">
                    <input type="text" name="filmname4" value="{{actor.filmname4}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 5 : </label>
                    <input type="text" name="filmid5" value="{{actor.filmid5}}">
                    <input type="text" name="filmname5" value="{{actor.filmname5}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 6 : </label>
                    <input type="text" name="filmid6" value="{{actor.filmid6}}">
                    <input type="text" name="filmname6" value="{{actor.filmname6}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 7 : </label>
                    <input type="text" name="filmid7" value="{{actor.filmid7}}">
                    <input type="text" name="filmname" value="{{actor.filmname7}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM  8: </label>
                    <input type="text" name="filmid8" value="{{actor.filmid8}}">
                    <input type="text" name="filmname8" value="{{actor.filmname8}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 9 : </label>
                    <input type="text" name="filmid9" value="{{actor.filmid9}}">
                    <input type="text" name="filmname9" value="{{actor.filmname9}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 10 : </label>
                    <input type="text" name="filmid10" value="{{actor.filmid10}}">
                    <input type="text" name="filmname10" value="{{actor.filmname10}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 11 : </label>
                    <input type="text" name="filmid11" value="{{actor.filmid11}}">
                    <input type="text" name="filmname11" value="{{actor.filmname11}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 12 : </label>
                    <input type="text" name="filmid12" value="{{actor.filmid12}}">
                    <input type="text" name="filmname12" value="{{actor.filmname12}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 13 : </label>
                    <input type="text" name="filmid13" value="{{actor.filmid13}}">
                    <input type="text" name="filmname13" value="{{actor.filmname13}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 14 : </label>
                    <input type="text" name="filmid14" value="{{actor.filmid14}}">
                    <input type="text" name="filmname14" value="{{actor.filmname14}}">
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        FILM 15  : </label>
                    <input type="text" name="filmid15" value="{{actor.filmid15}}">
                    <input type="text" name="filmname15" value="{{actor.filmname15}}">
                </div>
                <img src="/images/actor-posters/{{actor._id}}.jpg"  style="width: 100px;" id="prodimage1">
                <div class="input-section" >
                     <label class="fm-details">
                        Movie Poster : </label>
                    <input type="file" name="image" onchange="viewImage(event,'image1')" >
                </div>
                <button type="submit">Edit Actor</button>
               
            </form>
        </div>
    </div>
</div>