    <div class="nav-bar-sticky ">
        
        <ul>
          <span>Movies</span>
          <div class="nav-swiper">
          <li><a href="/">Home</a></li>
          <li><a href="/malayalam-movies">Malayalam</a></li>
          <li><a href="/tamil-movies">Tamil</a></li>
          <li><a href="/hindi-movies">Hindi</a></li>
          <li><a href="/telugu-movies">Telugu</a></li>
          <li><a href="/hollywood-movies">Hollywood</a></li>
          <li><a href="/other-movies">Other</a></li>
          <li><a href="/actors">Actors</a></li>
        </div>
        </ul>
      </div>

<table id="sample-table" style="width:100%;text-align:left">
  <thead>
  <tr >
    <th class="admin-header">Actor Name</th>
    <th class="admin-header"> Language</th>
    <th class="admin-header"> ID</th>
    <th class="admin-header"> Options</th>
  </tr>
  </thead>
  <tbody>
  {{#each actor}}
  <tr>
    <td class="td-class">{{this.actorname}}</td>
    <td class="td-class">{{this.language}}</td>
     <td class="td-class"><input style="width: 90%;" type="text" value="{{this._id}}"> </td>
    <td class="td-class">
      
        <a style="color: green;" href="/admin/edit-actor/{{this._id}}"> <i class="material-icons">
edit
</i>Edit</a>
        <a href="/admin/delete-actor/{{this._id}}" onclick="return confirm('Are You SHure to Delete = {{this.name}}')"><i class="material-icons">
delete
</i>Delete</a>
        
        </td>
  </tr>
  {{/each}}
  </tbody>
</table>



<script>

  $(function(){
    $('#sample-table').DataTable();
  });
</script>