

    <!------------------------------------------ LAtest Movies Section--------------------->
 <div class="movies-section">
      
    <div class="black-header">
          <i class="material-icons"></i>
          Latest Update
        </div>
        {{#each latestupdatemovies}}
          <a href="/movie/{{this._id}}" class="movies-list-latestupdate">
            <div class="movies-img-latestupdate">
              <img src="/images/movie-posters/{{this._id}}.jpg" alt="" srcset="">
            </div>
          <div class="movies-body-latestupdate">
            <p>{{this.name}}</p>
          </div>  
          
          </a>
        {{/each}}
      </div>
      
      <!--------------------------------------Next Week Reales--------------------------------->
     
    <div class="black-header">
          <i class="material-icons"></i>
          Next Week Release
        </div>
    <div class="swiper">
      <div class="latest-movies-section">
        {{#each nextweekmovies}}
      <a href="/movie/{{this.movieid}}" class="latest-update-movies">
        <img src="/images/movie-posters/{{this.movieid}}.jpg" alt="">
        <H4>{{this.moviename}}</H4>
        <p>{{this.moviereleasedate}}</p>
      </a>
      {{/each}}
    </div>
    </div>

    <!-------------------------Movies LIst category------------------------------>

    <div class="movies-list-section">
      <div class="black-header"> <i class="material-icons"> movie_filter</i> Movies Language Category </div>
      <div class="white-link"><a href="/malayalam-movies" class="dflexx"> <i class="material-icons">forward</i>Malayalam Movies</a></div>
      <div class="white-link"><a href="/tamil-movies" class="dflexx"> <i class="material-icons">forward</i>Tamil Movies</a></div>
      <div class="white-link"><a href="/hindi-movies" class="dflexx"> <i class="material-icons">forward</i>Hindi Movies</a></div>
      <div class="white-link"><a href="/telugu-movies" class="dflexx"> <i class="material-icons">forward</i>Telugu Movies</a></div>
      <div class="white-link"><a href="/hollywood-movies" class="dflexx"> <i class="material-icons">forward</i>Hollywood Movies</a></div>
      <div class="white-link"><a href="other-movies" class="dflexx"> <i class="material-icons">forward</i>Other Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Web Series</a></div>
      <div class="white-link"><a href="/actors" class="dflexx"> <i class="material-icons">forward</i>Actors Section</a></div>
    </div>
