 <title>{{movie.engname}}({{movie.releasedate}}).({{movie.name}}){{movie.category}} Cast & Crew, Release Date, Review, Photos, Videos HD Full Movie Download -Dramalite.Com</title>

<!--------------------------------Connect Join Family-------------------------->
<div class="connect-with">
  <div class="connect-with-text">
    Join The Family:
  </div>
  <div class="connect-with-link">
    <a href="https://www.instagram.com/dramalitecom/" class="connect-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://t.me/dramalite" class="connect-telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a>
    <!-- <a href="#" class="connect-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
  </div>
</div>
<!--------------------------------Movies Categories Swipe---------------------->
      <div class="nav-bar-sticky ">
        
        <ul>
          <span>Movies</span>
          <div class="nav-swiper">
          <li><a href="/">Home</a></li>
          <li><a href="/malayalam-movies">Malayalam</a></li>
          <li><a href="/tamil-movies">Tamil</a></li>
          <li><a href="/hindi-movies">Hindi</a></li>
          <li><a href="/telugu-movies">Telugu</a></li>
          <li><a href="/hollywood-movies">Hollywood</a></li>
          <li><a href="/other-movies">Other</a></li>
          <li><a href="/actors">Actors</a></li>
        </div>
        </ul>
      </div>
     <!-----------------------------------Latest Update------------------------------------------>
    <div class="black-header">
      <i class="fas fa-pen-alt"></i>
      Latest Update
    </div>
    <div class="swiper">
      <div class="latest-movies-section">
        {{#each latestupdatemovies}}
        <a href="/movie/{{this._id}}" class="movies-list">
          <div class="movies-img">
            <img data-src="/images/movie-posters/{{this._id}}.jpg" class="lazy-photo" alt="" srcset="">
          </div>
        <div class="movies-body">
          <p>{{this.name}}</p>
          <h6>( {{this.engname}} )</h6>
        </div>  
        
        </a>
        {{/each}}
      </div>
    </div>
 


    <!-----------------------------------MOVIES SECTION----------------------->
<div class="main">
  <div class="actor-header">{{movie.engname}}</div>
  <div class="movie-img">
    <img
      data-src="/images/movie-posters/{{movie._id}}a.jpg"
      class="backimg lazy-photo"
      alt=""
    />
    <a href="/images/movie-posters/{{movie._id}}.jpg">
      <img
        data-src="/images/movie-posters/{{movie._id}}.jpg"
        class="movie-cover lazy-photo"
        alt=""
      /></a>
    <div class="trailor-btn">
      <div class="fa-trailor">
        {{#if movie.yttrailorlink}}
          <p> Watch Trailor</p>

        {{else}}

          <p> Trailor Notyet</p>
        {{/if}}</div>
      <div class="fa fa-playy"> <i class="fa fa-play"></i> </div></div>
    <div class="video-container">
      <span class="close"> &#10006; </span>

      <iframe
        class="lazy-photo"
        data-src="{{movie.yttrailorlink}}"
        frameborder="0"
        allow="autoplay"
        allowfullscreen
      ></iframe>
    </div>

  </div>

  <div class="mv-head"><i class="fas fa-star"></i><h6
    >{{movie.name}}</h6></div>

  <div class="mv-details-section">
    <div class="basic-head">
            <h4>Details</h4>
          </div>
          <div class="details">
            
            <div class="details-col">
              <h5>Language:</h5>
              <p>{{movie.category}}</p>
            </div>
            <div class="details-col">
              <h5>Genre:</h5>
              <p>{{movie.genre}}</p>
            </div>
            <div class="details-col">
              <h5>Director:</h5>
              <p>{{movie.director}}</p>
            </div>
            <div class="details-col">
              <h5>Produced By:</h5>
              <p>{{movie.producedby}}</p>
            </div>
            <div class="details-col">
              <h5>Release Date:</h5>
              {{#if movie.releasedate}}
                <p>{{movie.releasedate}}</p>{{else}}
                <p>Date Not Confirm</p>
              {{/if}}
            </div>
            <div class="details-col">
              <h5>Length:</h5>
              <p>{{movie.duration}}</p>
            </div>
            <div class="details-col">
              
              <div class="share-link">
                <h6>Share:</h6>
                <a
                  href="tg://msg?text=ðŸŽ¥ Lets Go   Read full Story â–¶ï¸http://mrharshid.tk   "
                  data-action="share/tg/share"
                  class="share-telegram"
                ><i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a
                  href="whatsapp://send?text=ðŸŽ¥ Lets Go   Read full Story â–¶ï¸http://mrharshid.tk   Dramalite"
                  data-action="share/whatsapp/share"
                  class="share-whatsapp"
                ><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
              </div>  
            </div>
          </div>


<!----------------Story------------->
 <div class="story">
            <div class="basic-head">
              <h4>Story</h4>
            </div>
            <div class="story-p">
              <p>
               {{movie.story}}
              </p>
              
             <div class="story-readmore-english">
            
                <span class="closee-english"> &#10006; </span>
                
                <p>
                 {{movie.storyenglish}}
                </p>
            </div>
              {{#if movie.readmorestory}}
               <span class="readmore-btn">Read More</span>
              {{/if}}
              {{#if movie.storyenglish}}
               <span class="readmore-btn-english">English</span>
              {{/if}}
       <div class="story-readmore">
         <span class="closee"> &#10006; </span>
          <p>
             {{movie.readmorestory}}
          </p>
     </div>

  </div>
<!----------------Actors-->
  <div class="basic-head"><h4>Actors</h4></div>
  <div class="swiper">
    <div class="actor-swp">
      <div class="actorswp">
        <a href="/actor/{{movie.actid1}}"><img
            class="lazy-photo"
            data-src="/images/actor-posters/{{movie.actid1}}.jpg"
            alt=""
          />
          <h6>{{movie.actorname1}}</h6>
          <p>{{movie.mvactorname1}}</p>
        </a>
      </div>
      {{#if movie.actid2}}
        <div class="actorswp">
          <a href="/actor/{{movie.actid2}}"><img
              class="lazy-photo"
              data-src="/images/actor-posters/{{movie.actid2}}.jpg"
              alt=""
            />
            <h6>{{movie.actorname2}}</h6>
            <p>{{movie.mvactorname2}}</p>
          </a>
        </div>
      {{/if}}
      {{#if movie.actid3}}
        <div class="actorswp">
          <a href="/actor/{{movie.actid3}}"><img
              class="lazy-photo"
              data-src="/images/actor-posters/{{movie.actid3}}.jpg"
              alt=""
            />
            <h6>{{movie.actorname3}}</h6>
            <p>{{movie.mvactorname3}}</p>
          </a>
        </div>
      {{/if}}
      {{#if movie.actid4}}
        <div class="actorswp">
          <a href="/actor/{{movie.actid4}}"><img
              class="lazy-photo"
              data-src="/images/actor-posters/{{movie.actid4}}.jpg"
              alt=""
            />
            <h6>{{movie.actorname4}}</h6>
            <p>{{movie.mvactorname4}}</p>
          </a>
        </div>
      {{/if}}
      {{#if movie.actid5}}
        <div class="actorswp">
          <a href="/actor/{{movie.actid5}}"><img
              class="lazy-photo"
              data-src="/images/actor-posters/{{movie.actid5}}.jpg"
              alt=""
            />
            <h6>{{movie.actorname5}}</h6>
            <p>{{movie.mvactorname5}}</p>
          </a>
        </div>
      {{/if}}
      {{#if movie.actid6}}
        <div class="actorswp">
          <a href="/actor/{{movie.actid6}}"><img
              class="lazy-photo"
              data-src="/images/actor-posters/{{movie.actid6}}.jpg"
              alt=""
            />
            <h6>{{movie.actorname6}}</h6>
            <p>{{movie.mvactorname6}}</p>
          </a>
        </div>
      {{/if}}

    </div>

  </div>


  <!-------------------------------------VIDEO SECTION------------------------->

    <div class="basic-head"><h4>Video</h4> </div>
  <div class="swiper">
     {{#if movie.ytlink}}
      <div class="video-row">
       
        <iframe
          class="lazy-photo"
          data-src="{{movie.ytlink}}"
          frameborder="0"
          allow="autoplay"
          allowfullscreen
        ></iframe>
      </div>
    {{else}}
      <h4 style="color: black;font-family:sans-serif">Not Video Release</h4>
      </div>
    {{/if}}
    {{#if movie.ytlink1}}
      <div class="video-row">
        <iframe
          class="lazy-photo"
          data-src="{{movie.ytlink1}}"
          frameborder="0"
          allow="autoplay"
          allowfullscreen
        ></iframe>
      </div>
    {{/if}}
    {{#if movie.ytlink2}}
      <div class="video-row">
        <iframe
          class="lazy-photo"
          data-src="{{movie.ytlink2}}"
          frameborder="0"
          allow="autoplay"
          allowfullscreen
        ></iframe>
      </div>
    {{/if}}
    {{#if movie.ytlink3}}
      <div class="video-row">
        <iframe
          class="lazy-photo"
          data-src="{{movie.ytlink3}}"
          frameborder="0"
          allow="autoplay"
          allowfullscreen
        ></iframe>
      </div>
    {{/if}}
  </div>

</div>
</div>

<!------------------------Trending Movies--------------------------------------->
    <div class="black-header">
     <i class="fas fa-bolt"></i>
      Trending Movies
    </div>
    <div class="swiper">
      <div class="latest-movies-section">
        {{#each trendingmovies}}
        <a href="/movie/{{this._id}}" class="movies-list">
          <div class="movies-img">
            <img data-src="/images/movie-posters/{{this._id}}.jpg" class="lazy-photo" alt="" srcset="">
          </div>
        <div class="movies-body">
          <p>{{this.name}}</p>
          <h6>( {{this.engname}} )</h6>
        </div>  
        
        </a>
        {{/each}}
      </div>
    </div>
    <!------------------------Nextweek Movies--------------------------------------->
    <div class="black-header">
     <i class="fas fa-calendar-week"></i>
      Nextweek Movies
    </div>
    <div class="swiper">
      <div class="latest-movies-section">
        {{#each nextweekmovies}}
        <a href="/movie/{{this.movieid}}" class="movies-list">
          <div class="movies-img">
            <img data-src="/images/movie-posters/{{this.movieid}}.jpg" class="lazy-photo" alt="" srcset="">
          </div>
        <div class="movies-body">
          <p>{{this.moviename}}</p>
          <h6>{{this.moviereleasedate}}</h6>
        </div>  
        
        </a>
        {{/each}}
      </div>
    </div>